@{
    ViewData["Title"] = "About Page";
}

@* <!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div> *@

<!-- Start Banner -->
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1 class="display-4">About Us</h1>
                <h3 class="h2">Unveiling Our Story: <b>Micro eCommerce</b> — Where Passion Meets Innovation.</h3>
                <p class="lead">
                    Welcome to <b>Micro eCommerce</b>, a groundbreaking endeavor born from the Microservices-Based
                    Software Development course under the guidance of the esteemed Assist. Prof. Dr. Birol ÇİLOĞLUGİL. In this
                    project, we are weaving the intricate threads of microservices architecture into the vibrant
                    tapestry of e-commerce. With three dedicated teams focusing on catalog, customer, and order, we aim
                    to redefine the landscape of online shopping.
                </p>
                <p class="lead">
                    Comprising nine dedicated students, we embark on this final project with a shared commitment to
                    excellence, collaboration, and the relentless pursuit of knowledge. We are grateful to our
                    instructor, who has been instrumental in shaping our understanding of microservices and instilling
                    a passion for innovation. Join us on this journey as we breathe life into microservices and
                    transform the realm of e-commerce.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Close Banner -->

<!-- Start Section -->
<section class="container py-5">
    <div class="row text-center pt-5 pb-3 mx-auto">
        <div class="col-lg-6 m-auto">
            <h1 class="display-4">Our Services</h1>
            <p class="lead">
                <b>Micro eCommerce</b> aims to provide a modern, efficient, and personalized online shopping experience
                through its microservices-based architecture. The project focuses on delivering high-quality products,
                excellent user experience, and global accessibility.
            </p>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-md-6 col-lg-4 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow text-center">
                <div class="h1 text-success"><i class="fa fa-pills"></i></div>
                <h2 class="h5 mt-4">Catalog</h2>
                <p class="lead">
                    Crafting a rich, diverse product catalog.
                </p>
                <p class="lead">Catalog microservice is responsible for managing the
                    products and categories of the system. It provides the necessary APIs for the customer and order
                    microservices to access the product and category information.
                </p>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow text-center">
                <div class="h1 text-success"><i class="fa fa-user"></i></div>
                <h2 class="h5 mt-4">Customer</h2>
                <p class="lead">
                    Ensuring a seamless and personalized user experience.
                </p>
                <p class="lead">
                    Customer microservice is responsible for
                    managing the customers of the system. It provides the necessary APIs for the catalog and order
                    microservices to access the customer information.
                </p>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 pb-5">
            <div class="h-100 py-5 services-icon-wap shadow text-center">
                <div class="h1 text-success"><i class="fas fa-exchange-alt"></i></div>
                <h2 class="h5 mt-4">Order</h2>
                <p class="lead">
                    Streamlining the checkout and order processing.
                </p>
                <p class="lead">Order microservice is responsible for managing the
                    orders of the system. It provides the necessary APIs for the catalog and customer microservices to
                    access the order information.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- End Section -->

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3 mx-auto">
            <div class="col-lg-6 m-auto">
                <h1 class="display-4">Ege University</h1>
                <p class="lead">
                    Peaceful University, High-Quality Education, Bright Future
                </p>
            </div>
        </div>

        <div class="row text-center mx-auto">
            <div class="col-12 mb-4">
                <!-- Add the content for the logo here -->
                <a href="https://bilmuh.ege.edu.tr/eng-/Homepage.html">
                    <img class="img-fluid brand-img" src="~/img/Logo_Ege_Uni.png" alt="University Logo" style="max-width: 10%;">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Brands -->
