@{
    ViewData["Title"] = "Home Page";
}
<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="ontainer-lg p-5">
                <div class="row p-5">
                    <div class="col-lg-8 col-md-10 col-sm-12 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Micro</b> eCommerce</h1>
                            <h3 class="h2">Discover a World of Unmatched Shopping Bliss</h3>
                            <p>
                                At Micro eCommerce of <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">MicroMall</a>, 
                                we believe in turning every shopping experience into a 
                                delightful journey. From the latest fashion trends to cutting-edge gadgets, we've curated 
                                a collection that caters to your every need.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-lg p-5">
                <div class="row p-5">
                    <div class="col-lg-8 col-md-10 col-sm-12 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1">Effortless Shopping Experience</h1>
                            <h3 class="h2">Search, Login and Order</h3>
                            <p>
                                Immerse yourself in a diverse range of products, handpicked 
                                to reflect the latest supplement technology. Our user-friendly 
                                interface ensures a seamless and stress-free shopping experience. 
                                Browse, click, and enjoy! We take pride in offering high-quality 
                                products from trusted brands. Your satisfaction is our top priority.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container-lg p-5">
                <div class="row p-5">
                    <div class="col-lg-8 col-md-10 col-sm-12 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1">eCommerce with Bootstrap</h1>
                            <h3 class="h2">Tiny and Perfect eCommerce</h3>
                            <p>
                                Micro eCommerce is originated from Zay Shop HTML5 CSS template with latest version of Bootstrap 5 (beta 1).
                                This template is 100% free provided by <a rel="sponsored" class="text-success" href="https://templatemo.com" target="_blank">TemplateMo</a> website.
                                Image credits go to <a rel="sponsored" class="text-success" href="https://stories.freepik.com/" target="_blank">Freepik Stories</a>,
                                <a rel="sponsored" class="text-success" href="https://unsplash.com/" target="_blank">Unsplash</a> and
                                <a rel="sponsored" class="text-success" href="https://icons8.com/" target="_blank">Icons 8</a>.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
<!-- End Banner Hero -->