@model List<CatalogDto>;
<!-- Start Content -->
<div class="container py-5">
    <form>
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Supplement
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Vitamin</a></li>
                            <li><a class="text-decoration-none" href="#">Mineral</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Brand
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Orzax Ocean</a></li>
                            <li><a class="text-decoration-none" href="#">Solgar</a></li>
                            <li><a class="text-decoration-none" href="#">Venatura</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="#">Vitamin</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none" href="#">Mineral</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Show/Order according to block is omitted -->
                </div>
                <div class="row">
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model)
                    {

                        <!-- Start 1st Item -->
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid" src="~/img/@item.image">
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- Product Name -->
                                    <a href="#" class="h3 text-decoration-none mb-3">@item.name</a>
                                    <!-- Price Section -->
                                    <div class="d-flex justify-content-end align-items-center mb-3">
                                        ₺@item.price&nbsp;<i class="fa fa-tag fa-lg text-success"></i>
                                    </div>
                                    <!-- Quantity Section -->
                                    <div class="col-auto text-right">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item text-left">
                                                Quantity
                                                @{
                                                    string id = "product-quantity-" + i.ToString();
                                                    string idval = "var-value-" + i.ToString();
                                                }
                                                <input type="hidden" name="product-quantity" id=@id value="0">
                                                <input type="hidden" name="productid" id=@item.productid value=@item.productid>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="btn btn-success btn-minus" id="btn-minus-1" data-product-id=@i>-</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="badge bg-secondary"
                                                  id=@idval>0</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <span class="btn btn-success btn-plus" id="btn-plus-1" data-product-id=@i>+</span>
                                            </li>
                                        </ul>
                                    </div>
                                    @{
                                        i += 1;
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- End 1st Item -->
                    }
                </div>
                <!-- Order Button Section -->
                <div class="row">
                    <div class="col d-grid">
                        <button type="submit" asp-controller="Catalog" asp-action="NavigateToCreateOrder">Siparişi Oluştur</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<!-- End Content -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3 mx-auto">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Brands</h1>
                <p>
                    Encompass a diverse and curated selection of high-quality products, each reflecting a commitment to
                    excellence and innovation
                </p>
                <h1 class="display-4">Ege University</h1>
                <p class="lead">
                    Peaceful University, High-Quality Education, Bright Future
                </p>
            </div>
        </div>

        <div class="row text-center mx-auto">
            <div class="col-12 mb-4">
                <!-- Add the content for the logo here -->
                <a href="#">
                    <img class="img-fluid brand-img" src="~/img/Logo_Ege_Uni.png" alt="University Logo" style="max-width: 10%;">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Brands -->