@{
    ViewData["Title"] = "Shop Page";
}

<!-- Start Content -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Categories</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Supplement
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Vitamin</a></li>
                        <li><a class="text-decoration-none" href="#">Mineral</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Brand
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Orzax Ocean</a></li>
                        <li><a class="text-decoration-none" href="#">Solgar</a></li>
                        <li><a class="text-decoration-none" href="#">Venatura</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Vitamin</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Mineral</a>
                        </li>
                    </ul>
                </div>
                <!-- Show/Order according to block is omitted -->
            </div>
            <div class="row">
                <!-- Start One Item -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/img/shop_01.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Product Name -->
                            <a href="shop-single.html" class="h3 text-decoration-none mb-3">Ocean Extramag</a>
                            <!-- Price Section -->
                            <div class="d-flex justify-content-end align-items-center mb-3">
                                ₺335.99&nbsp;<i class="fa fa-tag fa-lg text-success"></i>
                            </div>
                            <!-- Quantity Section -->
                            <div class="col-auto text-right">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-left">
                                        Quantity
                                        <input type="hidden" name="product-quantity" id="product-quantity-1" value="0">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success" data-product-id="1"
                                            id="btn-minus-1">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value-1">0</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" data-product-id="1"
                                            id="btn-plus-1">+</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End One Item -->
                <!-- Start One Item -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/img/shop_02.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Product Name -->
                            <a href="shop-single.html" class="h3 text-decoration-none mb-3">Venatura - Magnezyum
                                Bisglisinat</a>
                            <!-- Price Section -->
                            <div class="d-flex justify-content-end align-items-center mb-3">
                                ₺145.01&nbsp;<i class="fa fa-tag fa-lg text-success"></i>
                            </div>
                            <!-- Quantity Section -->
                            <div class="col-auto text-right">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-left">
                                        Quantity
                                        <input type="hidden" name="product-quantity" id="product-quantity-2" value="0">
                                    </li>
                                    <li class="list-inline-item">
                                        <span class="btn btn-success btn-minus" id="btn-minus-2"
                                            data-product-id="2">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value-2">0</span></li>
                                    <li class="list-inline-item">
                                        <span class="btn btn-success btn-plus" id="btn-plus-2"
                                            data-product-id="2">+</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End One Item -->
                <!-- Start One Item -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/img/shop_03.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Product Name -->
                            <a href="shop-single.html" class="h3 text-decoration-none mb-3">Ocean D3k2 Damla</a>
                            <!-- Price Section -->
                            <div class="d-flex justify-content-end align-items-center mb-3">
                                ₺195.10&nbsp;<i class="fa fa-tag fa-lg text-success"></i>
                            </div>
                            <!-- Quantity Section -->
                            <div class="col-auto text-right">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-left">
                                        Quantity
                                        <input type="hidden" name="product-quanity" id="product-quanity" value="0">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value">0</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End One Item -->
                <!-- Start One Item -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/img/shop_04.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Product Name -->
                            <a href="shop-single.html" class="h3 text-decoration-none mb-3">Venatura - Vitamin D3 K2</a>
                            <!-- Price Section -->
                            <div class="d-flex justify-content-end align-items-center mb-3">
                                ₺218.01&nbsp;<i class="fa fa-tag fa-lg text-success"></i>
                            </div>
                            <!-- Quantity Section -->
                            <div class="col-auto text-right">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-left">
                                        Quantity
                                        <input type="hidden" name="product-quanity" id="product-quanity" value="0">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value">0</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End One Item -->
                <!-- Start One Item -->
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/img/shop_05.jpg">
                            <div
                                class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- Product Name -->
                            <a href="shop-single.html" class="h3 text-decoration-none mb-3">Solgar Vitamin D3</a>
                            <!-- Price Section -->
                            <div class="d-flex justify-content-end align-items-center mb-3">
                                ₺335.90&nbsp;<i class="fa fa-tag fa-lg text-success"></i>
                            </div>
                            <!-- Quantity Section -->
                            <div class="col-auto text-right">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item text-left">
                                        Quantity
                                        <input type="hidden" name="product-quanity" id="product-quanity" value="0">
                                    </li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value">0</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End One Item -->
            </div>



            @* <div class="row">
            <!-- Start One Item -->
            <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" src="assets/img/shop_01.jpg">
            <div
            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
            </div>
            </div>
            <div class="card-body">
            <a href="shop-single.html" class="h3 text-decoration-none">Ocean Extramag</a>
            <p class="text-center mb-0">
            <p><i class="fa fa-tag text-success"></i> ₺250.00</p>
            </p>

            <!-- Quantity Section -->
            <div class="col-auto text-right">
            <ul class="list-inline pb-3">
            <li class="list-inline-item text-right">
            Quantity
            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
            </li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
            </li>
            <li class="list-inline-item"><span class="badge bg-secondary"
            id="var-value">1</span></li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            <!-- End One Item -->
            <!-- Start One Item -->
            <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" src="assets/img/shop_02.jpg">
            <div
            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
            </div>
            </div>
            <div class="card-body">
            <a href="shop-single.html" class="h3 text-decoration-none">Venatura - Magnezyum
            Bisglisinat</a>
            <p class="text-center mb-0">
            <p><i class="fa fa-tag text-success"></i> ₺250.00</p>
            </p>
            <!-- Quantity Section -->
            <div class="col-auto text-right">
            <ul class="list-inline pb-3">
            <li class="list-inline-item text-right">
            Quantity
            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
            </li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
            </li>
            <li class="list-inline-item"><span class="badge bg-secondary"
            id="var-value">1</span></li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>

            <!-- End One Item -->
            <!-- Start One Item -->

            <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" src="assets/img/shop_03.jpg">
            <div
            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
            </div>
            </div>
            <div class="card-body">
            <a href="shop-single.html" class="h3 text-decoration-none">Ocean D3k2 Damla</a>
            <p class="text-center mb-0">
            <p><i class="fa fa-tag text-success"></i> ₺250.00</p>
            </p>
            <!-- Quantity Section -->
            <div class="col-auto text-right">
            <ul class="list-inline pb-3">
            <li class="list-inline-item text-right">
            Quantity
            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
            </li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
            </li>
            <li class="list-inline-item"><span class="badge bg-secondary"
            id="var-value">1</span></li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>

            <!-- End One Item -->
            <!-- Start One Item -->

            <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" src="assets/img/shop_04.jpg">
            <div
            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
            </div>
            </div>
            <div class="card-body">
            <a href="shop-single.html" class="h3 text-decoration-none">Venatura - Vitamin D3 K2</a>
            <p class="text-center mb-0">
            <p><i class="fa fa-tag text-success"></i> ₺250.00</p>
            </p>
            <!-- Quantity Section -->
            <div class="col-auto text-right">
            <ul class="list-inline pb-3">
            <li class="list-inline-item text-right">
            Quantity
            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
            </li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
            </li>
            <li class="list-inline-item"><span class="badge bg-secondary"
            id="var-value">1</span></li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>

            <!-- End One Item -->
            <!-- Start One Item -->

            <div class="col-md-4">
            <div class="card mb-4 product-wap rounded-0">
            <div class="card rounded-0">
            <img class="card-img rounded-0 img-fluid" src="assets/img/shop_05.jpg">
            <div
            class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
            </div>
            </div>
            <div class="card-body">
            <a href="shop-single.html" class="h3 text-decoration-none">Solgar Vitamin D3</a>
            <p class="text-center mb-0">
            <p><i class="fa fa-tag text-success"></i> ₺250.00</p>
            </p>
            <!-- Quantity Section -->
            <div class="col-auto text-right">
            <ul class="list-inline pb-3">
            <li class="list-inline-item text-right">
            Quantity
            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
            </li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span>
            </li>
            <li class="list-inline-item"><span class="badge bg-secondary"
            id="var-value">1</span></li>
            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span>
            </li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            <!-- End One Item -->
            </div> *@
            <!-- Order Button Section -->
            <div class="row">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3 mx-auto">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Our Brands</h1>
                <p>
                    Encompass a diverse and curated selection of high-quality products, each reflecting a commitment to
                    excellence and innovation
                </p>
                <h1 class="display-4">Ege University</h1>
                <p class="lead">
                    Peaceful University, High-Quality Education, Bright Future
                </p>
            </div>
        </div>

        <div class="row text-center mx-auto">
            <div class="col-12 mb-4">
                <!-- Add the content for the logo here -->
                <a href="#">
                    <img class="img-fluid brand-img" src="~/img/Logo_Ege_Uni.png" alt="University Logo" style="max-width: 10%;">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Brands -->